<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.ccbrain.shopimg.mapper.MainMapper">

	<select id="get" resultType="map">
		select * from tb_col_result
	</select>
	
	<select id="selectServiceInfo" resultType="map">
		-- 서비스 테이블 조회
        SELECT service_id   AS "sId", 
               service_name AS "sNm", 
               col_path     AS "colPath" 
        FROM   tb_service_info 
	</select>
	
	<select id="selectLatestDir" resultType="string">
		-- 서비스별 삽입할 ddhh dir 유추
		SELECT DISTINCT Concat(col_dd, col_hh) AS "dir" 
        FROM   tb_col_result 
        WHERE  category_id LIKE '${sId}%' 
        ORDER  BY 1 DESC 
	</select>

</mapper>

