<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.ccbrain.shopimg.mapper.MainMapper">

	<select id="get" resultType="map">
		select * from tb_col_result
	</select>
	
	<select id="selectServiceInfo" resultType="map">
		-- 서비스 테이블 조회
        SELECT service_id   AS "sId", 
               service_name AS "sNm", 
               col_path     AS "colPath" 
        FROM   tb_service_info 
	</select>
	
	<select id="selectLatestDir" resultType="string">
		-- 서비스별 삽입할 ddhh dir 유추
		SELECT DISTINCT Concat(col_dd, col_hh) AS "dir" 
        FROM   tb_col_result 
        WHERE  category_id LIKE '${sId}%' 
        ORDER  BY 1 DESC 
	</select>

	<select id="selectCateId" resultType="string">
        SELECT category_id AS "cId" 
        FROM   tb_category_info 
        WHERE  service_id = #{sId}
        ORDER  BY 1 
	</select>
	
	<insert id="insertTbColResult">
        INSERT INTO tb_col_result 
        SELECT category_id, 
               #{dd}, 
               #{hh}, 
               #{rgSt} 
        FROM   tb_category_info 
        WHERE  service_id = #{sId} 
        ORDER  BY 1 
	</insert>

	<insert id="insertTbErrFileInfo">
        INSERT INTO tb_err_file_info 
        VALUES      (#{cId}, 
                     #{dd}, 
                     #{hh}, 
                     #{fk}, 
                     #{fSt}) 
	</insert>
	
	<update id="updateTbColResult">
        UPDATE tb_col_result 
        SET    reg_status = #{rgSt} 
        WHERE  category_id = #{cId} 
               AND col_dd = #{dd} 
               AND col_hh = #{hh} 
	</update>
</mapper>

